[user]
	name = Olga Brani
	email = olgabrani@grnet.com
[color]
    ui = 1
    diff = auto
[alias]
    tree = log --graph --pretty=oneline --abbrev-commit --decorate
    ll = log --pretty=oneline --abbrev-commit --max-count=30
    lh = log --format=%h
    ci = commit
    st = status
    x = checkout HEAD
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by %C(yellow)%ae%Creset' --abbrev-commit --date=relative
    lgg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by %C(yellow)%ae%Creset' --abbrev-commit --date=relative
[core]
    editor = vim
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
